:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --white-bg-color: #ffffff;
  --accent-color: #2196f3;
  --hero-bg-color: #2f303a;
  --primary-font-weight: 500;
  --primary-font-size: 14px;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.body {
  color: var(--primary-text-color);
  font-family: "Roboto", "sans-serif";
  background-color: var(--white-bg-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  outline: tomato solid 2px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--transition-timing), visibility 250ms var(--transition-timing);
}

.backdrop.is-hidden .modal {
  transform: scale(0.4) translate(-100%, -100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 95vw;
  min-height: 581px;
  background-color: var(--white-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--transition-timing);
  padding: 40px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms var(--transition-timing);
}
.modal-close:hover {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  outline: none;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-input {
  transition: border 250ms var(--transition-timing), fill 250ms var(--transition-timing);
}
.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.form-field {
  margin-top: 10px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 14px 16px;
  resize: none;
  outline: none;
}
.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:focus {
  border: 1px solid var(--accent-color);
}

.modal-checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.modal-checkbox-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 8.4px;
  transition: background-color 250ms var(--transition-timing), border 250ms var(--transition-timing), background-image 250ms var(--transition-timing);
}
@media screen and (min-width: 1200px) {
  .modal-checkbox-text {
    font-size: 14px;
    line-height: 1.7;
    margin-left: 12px;
  }
}

.modal-link {
  color: var(--accent-color);
}

.modal-checkbox:checked + .modal-checkbox-text::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: 11px 8px;
  background-position: center;
}

.modal-submit {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-bg-color);
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  margin: auto;
  margin-top: 30px;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header > .container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header > .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.menu-open-icon, .menu-close-icon {
  transition: fill 250ms var(--transition-timing);
}
.menu-open-icon:hover, .menu-close-icon:hover {
  fill: var(--accent-color);
}

.menu-open-btn, .menu-close-btn {
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
    width: 0;
    margin-left: 0;
  }
}

.menu-close-btn {
  padding: 0;
}

.mob-menu {
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: var(--white-bg-color);
  height: 100vh;
  width: 100vw;
}
.mob-menu .container {
  padding-top: 10px;
  padding-bottom: 48px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.mob-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__item .link {
  color: var(--primary-text-color);
}
.mob-menu__item .current {
  color: var(--accent-color);
}

.mob-connect__item .phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-connect__item .mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-soc-list {
  display: flex;
  margin-top: 64px;
}

.mob-soc-list-item:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-soc-list-item:not(:last-child) {
  padding-right: 10px;
}
.mob-soc-list-item .mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.navigation .link {
  color: var(--primary-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 93px;
  }
}

.navigation__item {
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  color: var(--primary-text-color);
  line-height: 1.15;
  letter-spacing: 0.02em;
  position: relative;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.connect__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .connect__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
  }
  .connect__list .link {
    display: block;
  }
}

.connect__item {
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: 1.15;
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
}
.connect__item:not(:last-child) {
  margin-bottom: 10px;
}
.connect__item .link.phone, .connect__item .link.mail {
  display: flex;
  align-items: center;
}
.connect__item .link {
  display: block;
}

.connect__icon {
  fill: currentColor;
  margin-right: 10px;
}

.link.link--current {
  color: var(--accent-color);
  padding-bottom: 0;
}
.link.link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  margin-top: 28px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.header__logo,
.footer__logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  color: var(--primary-text-color);
  line-height: 1.4;
  letter-spacing: 0.03em;
}

.navigation__item .link,
.connect__item .link {
  transition: color 250ms var(--transition-timing);
}

.logo__color {
  color: var(--accent-color);
}

.connect__item {
  color: var(--secondary-text-color);
}

.hero {
  text-align: center;
}
.hero .container {
  padding: 118px 60px;
}
@media screen and (min-width: 320px) and (max-width: 350px) {
  .hero .container {
    padding: 118px 50px;
  }
}
@media screen and (min-width: 768px) {
  .hero .container {
    padding: 118px 204px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .container {
    padding: 200px 250px;
  }
}

.overlay {
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-dt.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-dt-2x.jpg);
  }
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  color: var(--white-bg-color);
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  color: var(--white-bg-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;
}

.about-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    margin-bottom: 0;
  }
}

.about-list__item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .about-list__item {
    max-width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-list__item {
    max-width: calc(25% - 30px);
    margin-left: 30px;
    margin-bottom: 0;
  }
}
.about-list__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-list__icon--antenna::before {
  background-image: url(../images/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.about-list__icon--clock::before {
  background-image: url(../images/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.about-list__icon--diagram::before {
  background-image: url(../images/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.about-list__icon--astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.about-list__title {
  font-size: var(--primary-font-size);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.about-list__text {
  color: var(--secondary-text-color);
  font-size: var(--primary-font-size);
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
}

.section.no-top-padding {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section.no-top-padding {
    display: none;
  }
}

.work-list {
  display: flex;
}

.work-title {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.work-item {
  position: relative;
}
.work-item .img {
  display: block;
}
.work-item + .work-item {
  margin-left: 30px;
}

.work-subtitle {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-bg-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-bg-color);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-bg-color);
  padding-bottom: 30px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}

.team-title {
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team-subtitle {
  font-weight: var(--primary-font-weight);
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  margin: 0;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  background-color: var(--white-bg-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition: background-color 250ms var(--transition-timing), fill 250ms var(--transition-timing);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-bg-color);
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}

.clients-item {
  margin-left: 30px;
  margin-top: 30px;
  width: calc(50% - 30px);
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc(33.3333333333% - 30px);
  }
}

.clients-link {
  height: 92px;
  display: flex;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition: fill 250ms var(--transition-timing), border 250ms var(--transition-timing);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196F3;
  fill: var(--accent-color);
}

.footer {
  background-color: var(--hero-bg-color);
  padding: 60px 0;
}
.footer .container {
  display: flex;
  flex-direction: column;
}

.address {
  text-align: center;
}

.footer__logo {
  color: var(--white-bg-color);
  display: inline-block;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.17;
}

.footer-address {
  color: var(--white-bg-color);
  font-style: normal;
  font-size: var(--primary-font-size);
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 8px;
}

.footer-item .link {
  font-size: var(--primary-font-size);
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
}
.footer-item:first-child {
  margin-bottom: 9px;
}

.join {
  text-align: center;
  margin-top: 60px;
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-bg-color);
  margin-bottom: 20px;
}

.join-list {
  display: flex;
  justify-content: center;
}

.join-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-bg-color);
  transition: background-color 250ms var(--transition-timing);
}
.join-link:hover, .join-link:focus {
  background-color: var(--accent-color);
}

.join-item + .join-item {
  margin-left: 10px;
}

.send-thumb {
  display: flex;
}

.join-email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: var(--white-bg-color);
  outline: none;
}
.join-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join-email-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.send-icon {
  margin-left: 10px;
}

.list.btn {
  display: flex;
  justify-content: left;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .list.btn {
    justify-content: center;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .list.btn {
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.filter-btn {
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: var(--primary-font-weight);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  margin-bottom: 15px;
  transition: box-shadow 250ms var(--transition-timing), background-color 250ms var(--transition-timing), color 250ms var(--transition-timing);
}
.filter-btn:hover, .filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.active-btn {
  background-color: var(--accent-color);
  color: var(--white-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item {
  max-width: 100%;
  margin-bottom: 30px;
  transition: box-shadow 250ms var(--transition-timing);
  cursor: pointer;
}
.portfolio-item .img {
  display: block;
  max-width: 100%;
}
.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    margin-right: 30px;
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: calc(33.3333333333% - 30px);
  }
  .portfolio-item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
.portfolio-item:hover .portfolio-thumb-text {
  transform: translate(0);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  color: var(--secondary-text-color);
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin: 0;
}

.card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  max-width: 100%;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb-text {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--white-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 0 24px;
  transition: transform 250ms var(--transition-timing);
}
@media screen and (min-width: 320px) and (max-width: 370px) {
  .portfolio-thumb-text {
    font-size: 15px;
  }
}/*# sourceMappingURL=main.css.map */