.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    outline: tomato solid 2px;
    @include mobile {
        width: 480px;
    }
    @include tablet {
        width: 768px;
    }
    @include desktop {
        width: 1200px;
    }
}