:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-bg-color: #e5e5e5;
    --secondary-bg-color: #f5f4fa;
    --white-bg-color: #ffffff;
    --accent-color: #2196f3;
    --hero-bg-color: #2f303a;
    --primary-font-weight: 500;
    --primary-font-size: 14px;
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}