.list.btn {
    display: flex;
    justify-content: left;
    margin-bottom: 40px;
    flex-wrap: wrap;
    @include tablet {
        justify-content: center;
        flex-wrap: nowrap;
        margin-bottom: 30px;
    }
    @include desktop {
        margin-bottom: 50px;
    }
}