.list.btn {
    display: flex;
    justify-content: left;
    margin-bottom: 40px;
    flex-wrap: wrap;
        @include tablet {
        justify-content: center;
        flex-wrap: nowrap;
    }
    @include desktop {
        justify-content: center;
        flex-wrap: nowrap;
    }
}